<h1>Task <%= @task.id %></h1>
<h3><%= @task.name %></h3>
<p><%= @task.description  %></p>
<p><%= @task.status %></p>
<p><%= @task.creator %></p>
<p><%= @task.performer %></p>
<p><%= @task.completed %></p>

<ul>
    <li><%= link_to 'Edit', edit_task_path(@task) %></li>
    <li><%= link_to 'Delete', task_path(@task), method: :delete %></li>
</ul>